body {
    margin: 0;
    background-color: grey;
    font-family: Smythe;
} 

.container{
    margin: auto;
    max-width: 500px;
    background-color: #FFFFFF;
    min-height: 100vh;
    padding-bottom: 30px;
}

header{
    height: 20%;
    background-image: url("845364ecacaeaea44c5e3a8cd7159c5d52f26662.jpg");
    color: white;
    background-repeat: no-repeat;
        background-position: center;
    background-size: cover;
    
}

.branding{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    max-width: 90%;
    margin: 0 auto;
}

.food-icon {
    font-family: Inter;
    font-weight: 400;
    font-size: 80px; 
    line-height: 0;
    margin-right: 15px;
}

.food-item{
    display: flex;
    align-items: center;
    padding: 0px 0;  
    margin: 0 20px;
}

hr{
    margin: 0;
    border-color: #D2D2D2;
    border-style: solid;
}
.food-info{
    flex-grow: 1;
    padding-right: 10px;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
    font-weight:lighter;
    font-style: Regular;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0%;

}

.sub-heading{
    color: #8B8B8B;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.9;
    margin:15px 0px;
}



button{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:1.5px solid #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Inter;
    font-weight: lighter;
    padding: 0;
    font-weight: 200;
    
}

button span{
    transform: translateY(-2px);
}

.order-invoice h2{
    text-align: center;
    display: block;
}
.cart-item{
    display: flex;
    align-items: baseline;

}
.cart-item h2{
    display: inline-block;
}
.remove-btn{
    color: #BBBBBB;
    font-size: 10px;
    border: none;
    display: inline;
}

.order-btn{
    background: #16DB99;
    width: 100%;
    height: 60;
    angle: 0 deg;
    opacity: 1;
    top: 1048px;
    left: 46px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: Inter;
    margin-top: 30px;
}

.pay-btn{
    background: #16DB99;
    opacity: 1;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: Inter;
}

.order-invoice{
    display: none;
    max-width: 90%;
    margin: 0 auto;
}

.order-invoice hr{
    border-color: #393333;
}

.cart-item span{
    display: inline-block;
    margin-left: auto;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    
    width: 350px;
    height: max-content;
    padding: 25px; 
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#card-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal h3{
    font-family: Inter;
    font-weight: 600;
    text-align: center;
}

.pay-btn {
    /* 1. Override the fixed width */
    width: 100%; 
    
    /* 2. Override the circular shape */
    border-radius: 3px; 
    
    /* Your existing styles */
    background: #16DB99;
    box-shadow: 0px 1px 2px 0px #0000000D;
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: Inter;
    border: none; 
    margin-top: 15px;
    cursor: pointer;
}

#card-details input {
    width: 100%;           
    box-sizing: border-box; 
    margin-bottom: 10px;   
    padding: 10px;          
    border: 1px solid #ccc; 
    border-radius: 4px;
}

.payment-confirm{
    background-color: #ECFDF5;
    max-width: 90%;
    margin: 30px auto;
    height: 90;
    top: 789px;
    left: 50px;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #065F46;
}
#payment-confirm {
    display: none; 
}